[project]
	description = OpenJDK Build Factory
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/andcoope
[access "refs/for/refs/*"]
	read = group user/andcoope
	push = group user/andcoope
	label-Code-Review = -2..+2 group user/andcoope
	label-Verified = -1..+1 group user/andcoope
	rebase = group user/andcoope
	removeReviewer = group user/andcoope
	submit = group user/andcoope
[access "refs/heads/*"]
	read = group user/andcoope
	create = group user/andcoope
	push = +force group user/andcoope
	pushMerge = group user/andcoope
[access "refs/tags/*"]
	push = +force group user/andcoope
	pushTag = group user/andcoope
	pushSignedTag = group user/andcoope
